@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow: hidden;


}

body {
    flex: 1;
}

body {
    background-image: url(./pag5.jpg);
    background-size: cover;
}


nav {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
}

.navMobile {

    display: none;


}

button {
    background: linear-gradient(#5de0e6, #004aad);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid black;
    font-size: 15px;
    margin-top: 20px;
    color: black;
    font-weight: bolder;
}

.links:hover {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    border: #FFFFFF
}

.colabore {


    text-align: center;
    margin: auto;
    margin-top: 25px;

    width: 800px;
    background-color: black;
    opacity: 0.6;

}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
}

footer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    height: 50px;
    background-color: #202020;




}

.pFooter {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}



.p2Footer {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}

.bi-linkedin {
    margin-top: 10px;
    display: inline-flex;
    gap: 10px;

}


.bi-google {
    display: inline-flex;
    margin-top: 10px;
    gap: 10px;
}

.bi-github {
    display: inline-flex;
    margin-top: 10px;
    gap: 10px;
}

.bi-browser-edge {
    display: inline-flex;
    margin-top: 10px;
    gap: 10px;
}

/*
a{
    margin-top: 4px;
}
*/



.bi-linkedin {
    color: rgb(10, 100, 198);
}

.bi-google {
    color: darkred;
}

.bi-github {

    color: #FFFFFF;

}

.bi-browser-edge {
    color: #004aad;
}


/* Menu mobile escondido inicialmente */
.menu-options {
    display: none;
    background-color: #000;
    opacity: 0.97;
    padding: 10px;
    position: absolute;
    right: -20px;
    top: 65px;
    border-radius: 20px;
    z-index: 1;
}

.menu-options li {
    list-style: none;
    margin: 10px 10px 10px -37px;
}

.menu-options li a {
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    body {
        background-repeat: round;
    }

    .navMobile {
        display: grid;
    }

    .list {
        display: grid;
        margin: auto;
        background-color: black;
        width: 150px;
    }

    .menu-options.active {
        display: grid;
        margin-right: 145px;
    }

    .menu-options.active+

    /* Ícone do menu */
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: black;
    }


    .bi-list {
        font-size: 50px;
        cursor: pointer;

    }

    .bi-list:hover {
        color: #000;
        background: linear-gradient(#5de0e6, #004aad);
        border-radius: 20px;
        transition: 1s;
    }





    .colabore {
        width: 360px;

        /* margin-bottom: 217px;*/

    }

    p {
        font-size: 18px;
    }

    footer {
        color: #FFFFFF;
        display: block;
        justify-content: center;
        font-size: 25px;
        gap: 30px;
        height: 77px;
        width: 100vw;
        background-color: #202020;
        margin-top: -13px;
    }

    a {
        margin-left: 60px;
    }

    .pFooter {
        font-size: 12px;
        margin-left: 30px;
        margin-top: 3px;
    }



    .p2Footer {
        font-size: 12px;
        justify-content: center;
        margin-top: 1px;
        margin-bottom: -4px;
        margin-left: 130px;
        margin-right: 35px;

    }

    .bi-linkedin {
        margin-top: 10px;
        margin-left: -25px;
    }

}